/*
0px - 600px:         Phone
600px - 900px:       Tablet Portrait
900px - 1200px:      Tablet Landscape
[1200px - 1800px]    Computer Screen
1800+                Big Desktop


$brakepoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px;

*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes rotateTick {
  0% {
    transform: rotate(45deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 450px) {
    html {
      font-size: 46.875%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid; }

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }

main {
  padding: 0 2rem;
  background-color: #eee; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem; }

.heading__primary {
  font-size: 2.5rem;
  font-weight: 700; }
  .heading__primary--title {
    font-family: "Shrikhand", cursive; }

.heading__secondary {
  font-size: 1.8rem; }
  .heading__secondary--dark {
    font-weight: 500; }
  .heading__secondary--light {
    font-weight: 300; }

.heading__tertiary {
  font-size: 1.6rem; }
  .heading__tertiary--dark {
    font-weight: 500; }
  .heading__tertiary--light {
    font-weight: 300; }
  .heading__tertiary--uppercase {
    text-transform: uppercase; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 6rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.logo {
  display: block;
  padding: 1.5rem 0 1.2rem 0;
  height: 100%;
  text-align: center; }
  .logo__img {
    width: 40%;
    height: 100%;
    background-size: cover;
    max-width: 20rem;
    min-width: 14rem; }

.location {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  background-color: #eee;
  place-content: center;
  grid-gap: 1rem;
  padding: 1.5rem 0 1rem 0;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .location__form {
    width: 12rem;
    background-color: #eee; }
    .location__form input {
      border: none;
      font-size: inherit;
      font-family: inherit;
      background-color: inherit;
      width: 100%; }
      .location__form input:focus {
        outline: none; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem;
  justify-content: center;
  border-radius: 1rem; }

.card {
  display: grid;
  grid-template-rows: 15rem min-content;
  background-color: #fff;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s; }
  .card:hover {
    box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.4); }
  .card__link, .card__link:link, .card__link:visited {
    text-decoration: none;
    cursor: pointer;
    position: relative; }
  .card__link span {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    display: inline-block;
    z-index: 2;
    background-color: #99e2d0;
    padding: 0.3rem 2rem;
    color: #278870;
    font-weight: 500;
    border-radius: 0.3rem; }
  .card__img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .card__details {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    padding: 1.5rem 1.5rem 1rem 1rem;
    color: #000; }
    .card__details__checkbox {
      display: none; }
    .card__details__label {
      align-self: start;
      cursor: pointer;
      font-size: 2rem;
      -webkit-text-stroke: 0.5px white; }
    .card__details__checkbox:not(:checked) + .card__details__label .card__details__icon--solid {
      display: none; }
    .card__details__checkbox:checked + .card__details__label .card__details__icon--solid {
      display: inline-block;
      background-image: linear-gradient(#9356dc, #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; }
    .card__details__checkbox:checked + .card__details__label .card__details__icon--regular {
      display: none; }

.footer {
  background-color: #333;
  display: grid;
  color: #f7f7f7;
  padding: 2rem;
  align-items: center; }
  .footer h2 {
    font-family: "Shrikhand", cursive;
    margin-bottom: 1rem;
    font-size: 2rem; }
  .footer__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); }
  .footer__item {
    margin-bottom: 0.2rem; }
    .footer__item--withIcon {
      display: grid;
      grid-template-columns: 2.5rem max-content;
      place-items: center; }
    .footer__item__icon {
      margin-right: 1rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0.5px solid transparent; }
  .footer__link:hover {
    border-bottom: 0.5px solid #f7f7f7; }

.btn, .btn:visited {
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1.5rem 3rem;
  border-radius: 2.5rem;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  color: #fff;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 2.5rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  transition: all 0.4s; }

.btn--menu {
  place-self: center;
  padding: 1.5rem 6rem; }

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr)); }
  .details__explore {
    background-color: #f7f7f7;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 2rem;
    grid-gap: 2rem;
    align-content: center; }
  .details__steps {
    margin: 4rem 0 4rem 0;
    padding: 0 2rem; }
    .details__steps h1 {
      margin-bottom: 2rem; }
  .details__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 40rem));
    grid-gap: 2rem;
    justify-content: center; }
    .details__list :last-child .details__item--icon {
      color: #9356dc; }
  .details__item {
    background-color: #eee;
    padding: 1.7rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    border-radius: 2rem;
    grid-gap: 2rem;
    align-items: baseline;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .details__item > * {
      transform: translateX(-3rem); }
    .details__item--number {
      background-color: #9356dc;
      color: #fff;
      padding: 0 0.7rem;
      border-radius: 50%; }
    .details__item--icon {
      font-size: 1.6rem;
      color: #777; }

.menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s;
  display: none; }
  .menu__header {
    display: grid;
    grid-template-columns: min-content calc(100vw - 5rem);
    place-items: center;
    padding: 1.5rem 0 1.2rem 2rem; }
    .menu__header > .logo {
      padding: 0; }
    .menu__header__link, .menu__header__link:link, .menu__header__link:visited {
      text-decoration: none;
      color: #000; }
  .menu__cards {
    display: grid;
    background-color: #eee; }
  .menu__title__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); }
    .menu__title__card__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 20rem;
      overflow: hidden; }
    .menu__title__card__details {
      display: grid;
      grid-template-columns: max-content min-content;
      justify-content: space-between;
      padding: 2rem 1.5rem 0 1.5rem;
      background-color: #eee;
      border-radius: 2rem 2rem 0 0;
      transform: translateY(-1.5rem); }
  .menu__card {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr)); }
    .menu__card > h3 {
      margin-bottom: 1.5rem; }
      .menu__card > h3::after {
        content: "";
        display: block;
        height: 0.2rem;
        width: 4.5rem;
        background-color: #99e2d0; }
    .menu__card__list {
      list-style: none;
      display: grid;
      grid-gap: 1.5rem; }
    .menu__card__item {
      border-radius: 2rem;
      background-color: #fff;
      display: grid; }
      .menu__card__item__label {
        border-radius: 2rem;
        background-color: #fff;
        display: grid;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer; }
      .menu__card__item__text {
        padding: 1rem; }
      .menu__card__item__price {
        align-self: end;
        padding-bottom: 1rem;
        margin-right: 1rem;
        transition: all 0.5s; }
      .menu__card__item__checkbox {
        display: none; }
      .menu__card__item__icon {
        background-color: #99e2d0;
        height: 100%;
        color: #fff;
        font-size: 2.5rem;
        display: grid;
        place-content: center;
        width: 8rem;
        opacity: 0;
        transition: all 0.5s ease-in-out; }
      .menu__card__item__checkbox:not(checked) + .menu__card__item__label {
        grid-template-columns: max-content min-content; }
      .menu__card__item__checkbox:checked + .menu__card__item__label {
        grid-template-columns: minmax(20rem, 1rem) repeat(2, min-content); }
      .menu__card__item__checkbox:checked + .menu__card__item__label > .menu__card__item__text h3 {
        width: 100%;
        display: block;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .menu__card__item__checkbox:not(checked) + .menu__card__item__label .menu__card__item__icon > i::before {
        content: ""; }
      .menu__card__item__checkbox:checked + .menu__card__item__label .menu__card__item__icon {
        animation: moveInRight 0.5s ease-in-out;
        animation-fill-mode: both; }
        .menu__card__item__checkbox:checked + .menu__card__item__label .menu__card__item__icon > i::before {
          content: "\f058"; }
        .menu__card__item__checkbox:checked + .menu__card__item__label .menu__card__item__icon > i {
          animation: rotateTick 0.25s 0.25s ease-in-out;
          animation-fill-mode: both; }
  .menu:target {
    width: 100%;
    opacity: 1;
    display: grid;
    visibility: visible;
    overflow-y: auto; }
