/*
0px - 600px:         Phone
600px - 900px:       Tablet Portrait
900px - 1200px:      Tablet Landscape
[1200px - 1800px]    Computer Screen
1800+                Big Desktop


$brakepoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px;

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 6rem repeat(4, min-content); }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.4rem; }

.heading__primary {
  font-size: 2.5rem;
  font-weight: 700; }

.heading__secondary {
  font-size: 1.8rem; }
  .heading__secondary--dark {
    font-weight: 500; }
  .heading__secondary--light {
    font-weight: 300; }

.heading__tertiary {
  font-size: 1.6rem; }
  .heading__tertiary--dark {
    font-weight: 500; }
  .heading__tertiary--light {
    font-weight: 300; }

.logo {
  display: block;
  padding: 1.5rem 0 1.2rem 0;
  height: 100%;
  text-align: center; }
  .logo__img {
    width: 40%;
    height: 100%;
    background-size: cover;
    max-width: 20rem;
    min-width: 14rem; }

.location {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  background-color: #eee;
  justify-content: center;
  grid-gap: 1rem;
  padding: 1.5rem 0 1rem 0;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }
  .location__form {
    width: 12rem;
    background-color: #eee; }
    .location__form input {
      border: none;
      font-size: inherit;
      font-family: inherit;
      background-color: inherit;
      width: 100%; }

.btn, .btn:visited {
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 1.5rem 3rem;
  border-radius: 2.5rem;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  color: #fff;
  box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: 2.5rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #ff79da, #9356dc);
  transition: all 0.4s; }

.details {
  display: grid;
  grid-template-rows: repeat(2, minmax(min-content, max-content)); }
  .details__explore {
    background-color: #f7f7f7;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 2rem;
    grid-gap: 2rem; }
  .details__steps {
    margin: 4rem 0 4rem 0;
    padding: 0 2rem; }
    .details__steps h1 {
      margin-bottom: 2rem; }
  .details__list {
    list-style: none;
    display: grid;
    grid-gap: 1.85rem; }
    .details__list :last-child .details__item--icon {
      color: #9356dc; }
  .details__item {
    background-color: #eee;
    padding: 1.7rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    border-radius: 2rem;
    grid-gap: 2rem;
    align-items: baseline;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .details__item > * {
      transform: translateX(-3rem); }
    .details__item--number {
      background-color: #9356dc;
      color: #fff;
      padding: 0 0.7rem;
      border-radius: 50%; }
    .details__item--icon {
      font-size: 1.6rem;
      color: #777; }
    .details__item--text {
      font-weight: 600; }
