.logo {
  display: block;
  padding: 1.5rem 0 1.2rem 0;
  height: 100%;
  text-align: center;

  &__img {
    width: 40%;
    height: 100%;
    background-size: cover;
    max-width: 20rem;
    min-width: 14rem;
  }
}
.header > .logo {
  z-index: 1;
  box-shadow: 0rem 0.2rem 0.5rem rgba($color-black, 0.2);
}
.location {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  background-color: $color-grey-light-1;
  place-content: center;
  grid-gap: 1rem;
  padding: 1.5rem 0 1rem 0;

  &__form {
    width: 12rem;
    background-color: $color-grey-light-1;
    & input {
      border: none;
      font-size: inherit;
      font-family: inherit;
      background-color: inherit;
      width: 100%;

      &:focus {
        outline: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .header {
    z-index: 1;
    box-shadow: 0rem 0.2rem 0.5rem rgba($color-black, 0.2);
    background-color: $color-grey-light-1;
  }
  .header > .logo {
    text-align: right;
    transform: translateX(15%);
    box-shadow: none;
    padding: 1.5rem 0 1.2rem 1.5rem;
  }
  .location {
    justify-content: end;
    padding: 1.5rem;
  }
}
@media only screen and (min-width: 1440px) {
  .header > .logo {
    height: 90%;
  }
}
@media only screen and (min-width: 2000px) {
  .header > .logo {
    height: 80%;
  }
}
