@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotateTick {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(4rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
  }
  80% {
    transform: translateY(-1rem);
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  }
  100% {
    transform: translateY(0);
  }
}
