@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotateTick {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
