*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 450px) {
    font-size: 46.875%;
  }
}

body {
  box-sizing: border-box;
}
.container {
  display: grid;
}
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37.55rem, 1fr));
}
main {
  padding: 0 2rem;
  background-color: $color-grey-light-1;
}
