*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 450px) {
    font-size: 46.875%;
  }
  @media only screen and (min-width: 1440px) {
    font-size: 80%;
  }
  @media only screen and (min-width: 3250px) {
    font-size: 90%;
  }
}

body {
  box-sizing: border-box;
}
.container {
  display: grid;
  min-height: 98vh;
  min-width: 98vw;
}
header {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(38.37rem, 1fr));
  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(37.55rem, 1fr));
  }
}
main {
  padding: 0 2rem;
  background-color: $color-grey-light-1;
}
