body {
  font-family: $font-text;
  font-weight: 300;
  line-height: 1.6;
  font-size: $default-font-size;
}
.heading__primary {
  font-size: 2.5rem;
  font-weight: 700;
  &--title {
    font-family: $font-title;
  }
}
.heading__secondary {
  font-size: 1.8rem;
  &--dark {
    font-weight: 500;
  }
  &--light {
    font-weight: 300;
  }
}
.heading__tertiary {
  font-size: 1.6rem;
  &--dark {
    font-weight: 500;
  }
  &--light {
    font-weight: 300;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}
