.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37.55rem, 1fr));
  grid-template-rows: 0.85fr 1fr;

  @media only screen and (min-width: 768px) {
    grid-template-rows: auto;
    background-color: $color-grey-light-2;
  }

  &__explore {
    background-color: $color-grey-light-2;
    display: grid;
    text-align: center;
    place-items: center;
    padding: 2rem;
    grid-gap: 2rem;
    align-content: center;
  }
  &__steps {
    margin: 4rem 0 4rem 0;
    padding: 0 2rem;

    h1 {
      margin-bottom: 2rem;
    }
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 40rem));
    grid-gap: 2rem;
    justify-content: center;
    & :last-child {
      .details__item--icon {
        color: $color-primary;
      }
    }
  }
  &__item {
    background-color: $color-grey-light-1;
    padding: 1.7rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    border-radius: 2rem;
    grid-gap: 2rem;
    align-items: baseline;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    & > * {
      transform: translateX(-3rem);
    }

    &--number {
      background-color: $color-primary;
      color: $color-white;
      padding: 0 0.7rem;
      border-radius: 50%;
    }
    &--icon {
      font-size: 1.6rem;
      color: $color-grey-dark;
    }
  }
}
