.menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color-white;
  z-index: 9999;
  opacity: 0;
  transition: all 0.3s;
  display: none;

  &__header {
    display: grid;
    grid-template-columns: min-content calc(100vw - 5rem);
    place-items: center;
    padding: 1.5rem 0 1.2rem 2rem;

    & > .logo {
      padding: 0;
    }

    &__link {
      &,
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-black;
      }
    }
  }
  &__cards {
    display: grid;
    background-color: $color-grey-light-1;
  }
  &__title__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(38.37rem, 1fr));
    &__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      max-height: 20rem;
      overflow: hidden;
    }
    &__details {
      display: grid;
      grid-template-columns: max-content min-content;
      justify-content: space-between;
      padding: 2rem 1.5rem 0 1.5rem;
      background-color: $color-grey-light-1;
      border-radius: 2rem 2rem 0 0;
      transform: translateY(-1.5rem);
    }
    @media only screen and (min-width: 768px) {
      & {
        margin-bottom: 4rem;
      }
      &__details {
        transform: translateY(0);
      }
    }
  }
  &__card {
    padding: 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
    @media only screen and (min-width: 550px) {
      & {
        grid-template-columns: 0.3fr 1fr;
      }
    }
    @media only screen and (min-width: 800px) {
      & {
        grid-template-columns: 0.1fr 1fr;
        grid-gap: 1rem;
      }
    }
    // animation: moveUp 0.5s cubic-bezier(0.64, 0, 0.18, 0.99);
    // &--entrees {
    //   animation: moveUp 0.3s cubic-bezier(0.64, 0, 0.18, 0.99);
    // }
    // &--main {
    //   animation: moveUp 0.3s cubic-bezier(0.64, 0, 0.18, 0.99);
    // }
    // &--dessert {
    //   animation: moveUp 0.3s cubic-bezier(0.64, 0, 0.18, 0.99);
    // }
    & > h3 {
      margin-bottom: 1.5rem;
      @media only screen and (min-width: 800px) {
        & {
          margin-top: 1rem;
        }
      }
      &::after {
        content: "";
        display: block;
        height: 0.2rem;
        width: 4.5rem;
        background-color: $color-tertiary;
      }
    }
    &__list {
      list-style: none;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
      //   animation: moveUp 0.5s cubic-bezier(0.64, 0, 0.18, 0.99);
    }
    &__item {
      border-radius: 2rem;
      background-color: $color-white;
      display: grid;
      animation: moveUp 0.4s cubic-bezier(0.23, 1.15, 0.82, 1.18);
      &__label {
        border-radius: 2rem;
        background-color: $color-white;
        display: grid;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;
      }

      &__text {
        padding: 1rem;
      }
      &__price {
        align-self: end;
        padding-bottom: 1rem;
        margin-right: 1rem;
        transition: all 0.5s;
      }
      &__checkbox {
        display: none;
      }
      &__icon {
        background-color: $color-tertiary;
        height: 100%;
        color: $color-white;
        font-size: 2.5rem;
        display: grid;
        place-content: center;
        width: 8rem;
        opacity: 0;

        transition: all 0.5s ease-in-out;
      }
      &__checkbox:not(checked) + &__label {
        grid-template-columns: max-content min-content;
      }
      &__checkbox:checked + &__label {
        grid-template-columns: minmax(20rem, 1rem) repeat(2, min-content);
      }
      &__checkbox:checked + &__label > &__text h3 {
        width: 100%;
        display: block;
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &__checkbox:not(checked) + &__label &__icon > i::before {
        content: "";
      }

      &__checkbox:checked + &__label &__icon {
        & > i::before {
          content: "\f058";
        }
        & > i {
          animation: rotateTick 0.25s 0.25s ease-in-out;
          animation-fill-mode: both;
        }
        animation: moveInRight 0.5s ease-in-out;
        animation-fill-mode: both;
      }
    }
  }

  &:target {
    width: 100%;
    opacity: 1;
    display: grid;
    visibility: visible;
    overflow-y: auto;
  }
}
